
<app-menu></app-menu>

<div class="row borde" *ngFor="let respuestaServicio of respuestaServicios">

    <div class="col-6 borde">

        <img src="{{respuestaServicio.imagenes}}" alt="..." class="borde">

    </div>
    <div class="col-6">

        <h5 class="card-title borde">{{respuestaServicio.nombre}}</h5>

    </div>
</div>


    <!-- <div class="col card my-5 mx-3" >
      
      <div class="card-body">
        
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    -->

<app-footer></app-footer>