<app-menu></app-menu>

<div class="container">
  <br><br>

  <h1>Top Tracks</h1>

  <div class="row row-cols-1 row-cols-md-4 g-4 mx-3 my-5">



      <div style="width: 18rem;"  *ngFor="let cancion  of  canciones" >
        <div class="col card  my-5 mx-3" style="height: 560px; ;">

        <img src="{{cancion.album.images[1].url}}" alt="" class="card-img-top">
        <audio  src="{{cancion.preview_url}}" controls="controls" class="w-100"></audio>
        <div class="card-body">
          <h5 class="card-title">{{cancion.name}}</h5>
          <br>
          <h6>Fecha De Lanzamineto: {{cancion.album.release_date}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
