
<app-menu></app-menu>
<div class="container">

    <div class="row my-5 justify-content-center">

    <div class="col-5">
        <h1>Como Surgio</h1>
        <p class="my-5">Cuando empezó a surgir la música rap en el mundo, ellos apenas eran unos niños que asomaban la cabeza por la ventana de su habitación y que corrían hacia la calle, en los proyectos de Brooklyn y Staten Island que eran sus hogares, para escuchar algunos de los primeros y mejores beatboxings y freestyles del momento. El pavimento era el escenario.
        </p>
        <p>La ascensión de Wu al estatus de iconos se documenta en la serie de Showtime, Wu-Tang Clan: Of Mics and Men. La serie, que se estrenó el 10 de mayo, explora la histórica carrera de 25 años del grupo, la marca imborrable que ha dejado en el panorama cultural mundial y la trayectoria individual de cada uno de sus miembros. A través de su inmenso talento, la visión de RZA y el furor que causaron, los Wu superaron la epidemia del crack, la pobreza, la violencia sin fin, el racismo extremo y un sistema opresivo y de segregación que limita el desarrollo de los hombres negros, para así lograr ver a millones de personas en todo el mundo cantar "Wu-Tang Clan ain't nuthing ta fuck wit".</p>
    </div>
    <div class="col-5 my-5 mx-4 ">
        <img src="https://firebasestorage.googleapis.com/v0/b/musicos-bcb8d.appspot.com/o/Wut-Tang_Clan2.jpeg?alt=media&token=3fb49e0b-270c-44d2-a4dd-2a9a68b6495d"class="h-100 w-100">
    </div>
</div>

<div class="row my-5 justify-content-center">
    <div class="col-5">
        <img src="https://firebasestorage.googleapis.com/v0/b/musicos-bcb8d.appspot.com/o/Wu-Tang-Clan3.webp?alt=media&token=6ec217e4-1739-48e7-aaa3-225fa316765b" class="h-100 w-100">
        
    </div>
    <div class="col-5 mx-5 ">
        <p>Tras el reciente éxito de películas biográficas del mundo de la música como Straight Outta Compton y Bohemian Rhapsody (y si retrocedemos un poco más, Notorious, 8 Mile y Get Rich or Die Trying ), una cuidadosa narración de la historia de Wu-Tang Clan parece ser no solo oportuna, sino también una deuda de hace mucho tiempo atrás. Una serie de 10 capítulos sobre el grupo también está en proceso por parte de la cadena televisiva Hulu.</p>
        <p>"En las luchas que estos chicos documentaron en su música, hay temas universales", dijo Jenkins. "El hecho de que se hayan llamado a sí mismos un clan… en última instancia, la serie es realmente una película acerca de una familia y, a veces, esa familia es disfuncional. Pero, ¿qué familia puedes nombrar que no sea disfuncional?".</p>
    </div>
</div>

<div class="row my-5 justify-content-center">

    <div class="col-5">
        <p>Contar la historia del Wu-Tang Clan es contar la historia del hip-hop, de los hombres y mujeres que lo llevaron de las calles a los más grandes escenarios del mundo. Jenkins llama al hip-hop "la forma más pura de comunicación", y Wu Tang Clan: Of Mics and Men es una vía directa de acceso a las luchas y realidades de los negros en los Estados Unidos, narrada por nueve de sus mentes más brillantes y enigmáticas.</p>

           <p>"Una cosa en la que confío es que cualquier persona en el mundo, en cualquier parte del mundo, puede identificarse con alguno de nosotros", dijo Masta Killa.</p> 
       
    </div>
    <div class="col-5 mx-5 ">
        <img src="https://firebasestorage.googleapis.com/v0/b/musicos-bcb8d.appspot.com/o/Wut-Tang_Clan4.png?alt=media&token=87dc7dd6-f1d8-4978-ad85-934c244ba7c5" class="h-100 w-100">
    </div>
</div>
</div>

<app-footer></app-footer>
